<?xml version="1.0" encoding="UTF-8"?>						
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"						
					"http://mybatis.org/dtd/mybatis-3-config.dtd">	


<configuration>		
		
	<settings>	
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
		
		
	<typeAliases>	
		<typeAlias type="com.app.dto.room.Room" alias="Room"/>
		<typeAlias type="com.app.dto.user.User" alias="User"/>
		<typeAlias type="com.app.dto.user.UserSearchCondition" alias="UserSearchCondition"/>
		<typeAlias type="com.app.dto.room.RoomSearchCondition" alias="RoomSearchCondition"/>
		<typeAlias type="com.app.dto.file.FileInfo" alias="FileInfo"/>
		<typeAlias type="com.app.dto.user.UserProfileImage" alias="UserProfileImage"/>
		
		
	</typeAliases>	
		
		
</configuration>		
